@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "@/Styles/Variables.scss";
@import "@/Styles/Keyframes.scss";
@import "@/Styles/Mixins.scss";
* {
	box-sizing: border-box;
	::after,
	::before {
		box-sizing: border-box;
	}
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: transparent; 
}
::-webkit-scrollbar-thumb {
	background: $decorative; 
}
html {
	height: 100%;
}
body {
	width: 100%;
	// height: var(--window-height);
	margin: 0;
	background-color: $bg;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	color: $primary;
	min-width: 400px;
	@media (min-width: 600px) {
		background-image: url("../Assets/overlay.svg");
		background-repeat: repeat-y;
		background-size: 100%;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}
input, button, textarea {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: $primary;
}
a {
	text-decoration: none;
	color: $primary;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
.link {
	color: $decorative;
	font-weight: bold;
	transition: 0.3s ease;
	@include hover {
		opacity: 0.7;
	}
}